h1{
    color: white;
    text-align: center;
    font-size: 30pt;
  }
body{
    background-color: #23A3E5;
}
#playlist-url-box
{
    height:50px;
    width: 600px;
    font-size:14pt;
}
html {
  font-family:"Kode Mono", monospace; /*font from google */
}
#container{
  display: flex;
  justify-content: center;
}