h1{
    color: white;
    text-align: center;
    font-size: 30pt;
  }
body{
    background-color: #23A3E5;
}
#playlist-url-box
{
    height:50px;
    width: 600px;
    font-size:14pt;
}
#submitButton
{
    height:55px;
    width: 70px;
    text-align: center;
    font-size:13pt;
}
html {
  font-family:"Kode Mono", monospace; /*font from google */
}

#cc{
  display: flex;
  justify-content: center;
}

#guessingTable {
  background-color: white;
}